/****** Styling ******/

body {
	background-color: #282C35;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	font-family: Montserrat;
	font-weight: bold;
}

h1 {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding: 30px;
	color: #ffffff;
	letter-spacing: 0.03em;
}

h2 {
	text-align: center;
	font-weight: 100;
	font-size: 2.0em;
	padding: 30px;
	color: #FC3544;
	letter-spacing: 0.03em;
}

table {
	width: 100%;
}

tr:nth-child(odd) {
	background-color: #3A414D;
}

tr:nth-child(even) {
	background-color: #2E343F;
}

td {
	padding: 20px 20px;
	color: #ffffff;
	font-size: 12px;
	font-weight: 200;
}

button, #searchButton, #clearResults, #clearSelected {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: regular;
	background: #38A3A8;
	padding: 12px;
	border: solid #275A61 3px;
	text-decoration: none;
	cursor: pointer;
}

.loader {
  display:none;
  margin: auto;
}

#clearSelected {
	display: block;
	margin: 30px auto;
}

#searchSection {
	text-align: center;
	margin-bottom: 20px;
}

#searchBar {
	height: 40px;
	width: 300px;
	padding-left: 10px;
	font-size: .75em;
	display: inline-block;
}

#resultsSection {
	width: 100%;
}

#selectedSection {
	width: 100%;
}

#searchButton, #clearResults, #clearSelected {
	margin: 15px auto;
}

#resultsHeader, #selectedHeader {
	width: 100%;
	margin-top: 10px;
}

#itemCounter, #calorieCounter {
	display: block;
	margin-top: 10px;
	text-align: center;
	font-size: 1.5em;
}

#counter {
	margin-bottom: 20px;
}

/****** Mobile ******/

table {
	width: 100%;
}

input {
	display: block;
}

#searchButton, #clearResults {
	display: inline-block;
	margin-left: 10px;
}

#searchResults, #selectedResults {
	font-size: 0.6em;
}

#itemCounter, #calorieCounter {
	color: #ffffff;
	font-weight: 100;
	letter-spacing: 0.03em;
}

/****** Tablet ******/

@media screen and (min-width: 768px) {

	input {
		display: inline-block;
	}

	#resultsSection {
		width: 47.5%;
		float: left;
		height: auto;
		margin-right: 2.5%;
	}

	#selectedSection {
		width: 47.5%;
		float: right;
	}
}

/****** Desktop ******/

@media screen and (min-width: 1200px) {

		#searchResults, #selectedResults {
			font-size: 1em;
		}
}
